@font-face {
	font-family: "Norse";
	src:
		url("fonts/Norse/Norse.woff2") format("woff2"),
		url("fonts/Norse/Norse.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Norse";
	src:
		url("fonts/Norse/Norse-Bold.woff2") format("woff2"),
		url("fonts/Norse/Norse-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* body * {
	border: 1px solid red;
} */

body {
	height: 100vh;
	width: 100%;
	margin: 0;

	display: flex;

	font-family: sans-serif;
}

.bg-image {
	height: 100vh;
	width: 30vw;
}

.logo-container {
	position: absolute;
	left: 0px;
	top: 200px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgb(0, 0, 0, 0.5);

	height: 150px;
	width: 30vw;
}

.logo,
.logo-text {
	height: 90%;
	width: 20%;

	color: white;
}

.logo-text {
	display: flex;
	justify-content: center;
	align-items: center;

	width: auto;
	padding-left: 5px;

	font-family: "Norse";
	font-weight: bold;
	font-size: 100px;
}

.bg-credit {
	position: absolute;
	bottom: 0px;
	left: calc(30vw / 3);

	font: 14px sans-serif;
	color: white;
}

header {
	padding: 100px 100px 25px 50px;
}

form header {
	padding: 0px;
	padding-top: 15px;
}

form .form {
	padding-left: 50px;
	padding-right: 200px;

	box-shadow: 0px 2px 5px 0px;

	color: #3a3a3a;
}

form div {
	padding-bottom: 25px;
}

div .name,
div .contact,
div .password {
	display: flex;

	font-size: 14px;
}

div .input {
	display: flex;
	flex-direction: column;

	background-color: var(--input-color);
}

input {
	height: 25px;
	width: 400px;

	margin-right: 100px;

	border: 1px solid #e5e7eb;
	border-radius: 5px;
}

input:invalid {
	border: 1px solid red;
}

input:focus,
input:active {
	outline: none;
	border: 1px solid blue;
	box-shadow: 1px 1px 5px 1px;
}

form button {
	margin-top: 25px;
	margin-left: 50px;
	padding: 10px 25px;

	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 1px;

	color: white;
	background-color: #596d48;

	font-size: 16px;
	font-weight: 100px;
}

p {
	padding-left: 50px;
}

.container:nth-child(2) a {
	color: #596d48;
}
